SITE_NAME=
API_KEY=
API_SECRET=
SECURITY_QUESTION_ID = 
CUSTOM_REGISTRATION_DATA_TYPE = 
CUSTOM_OBJECT_NAME = 

SOCIAL_LOGIN_REQUEST_TOKEN = 
FACEBOOK_ACCESS_TOKEN = 
TWITTER_ACCESS_TOKEN = 
TWITTER_TOKEN_SECRET = 
VKONTAKTE_ACCESS_TOKEN = 
GOOGLE_JWT_TOKEN = 