<% content_for :header do %>
<div class="main-nav">
    <div class="container">

    </div>
</div>
<!-- Start Things -->
<div class="main">
    <div class="messagediv" style="display:none">
        <ul>
            <li class="top-tootip" style="width:96%">
                <p id="messageinfo"></p>
                <span> </span>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <!-- Add Logo Here -->
    <nav class="main-nav sticky-nav">
        <div class="container cf">
            <div class="logo no-text">
                <div class="logo-box">
                    <h1 class="logo">
                        <a href="/">LoginRadius</a>
                    </h1>

                    <div class="site-description">user registration Ruby On Rails demo</div>
                </div>
            </div>

                <!-- Add Login/Register Link -->
                <div class="secondary-menu">
                    <ul id="menu-top-menu" class="menu">
                    	<% if session[:user_profile] != "" %>
                    	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-94"><a href="/logout" >Log Out</a></li>
                                <% else %>
                        <li id="menu-item-92"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-92"><a
                                class="lr-raas-button lr-raas-theme-login">Login</a></li>
                        /
                        <li id="menu-item-93"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93"><a
                                class="lr-raas-button lr-raas-theme-register">Register</a></li>                                
                                <% end; %>
                    </ul>
                </div>
                
        </div>
    </nav>
<% end; %>
