<!-- Add Set Password Container -->
<div id="lr-passwordbox-popup-message"></div>
<div id="setpasswordbox"></div>
<div id="changepasswordbox"></div>
<div class="lr-submit-frame lr-align-right">
	<span class="lr-link-frame"> <span class="lr-link lr-show-pw">Show Password</span> </span>
</div>