<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <script src="https://hub.loginradius.com/include/js/LoginRadius.js"></script>
 <script type="text/javascript">      
	var options={};      
	options.login=true;        
	LoginRadius_SocialLogin.util.ready(function () { 
		$ui = LoginRadius_SocialLogin.lr_login_settings;
		$ui.interfacesize = "";
		$ui.apikey = "API-KEY-HERE";
		$ui.callback=""; 
		$ui.lrinterfacecontainer ="interfacecontainerdiv"; 
		LoginRadius_SocialLogin.init(options);  
	}); 
</script>
</head>
<body>

<%= yield %>

</body>
</html>
